div.navbar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 75px;
}

.login-logout-container {
  height: 60px;
  margin-left: auto;
  text-align: center;
  line-height: 28px;
}

.email-logout a,
.email-logout button {
  font-size: 1rem;
  vertical-align: middle;
  margin: auto;
}

.login-signup a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  margin-top: 5px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
}
.login-signup a:hover {
  background-color: rgb(	188, 0, 45);
  color: white;
}

.email-logout {
  height: 60px;
  display: flex;
}

.email-logout * {
  box-sizing: border-box;
}

.email-logout a {
  display: inline-block;
  height: 46px;
  margin: 6px 4px;
  padding: 0 1em;
  line-height: 42px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  background-color: rgb(235, 235, 235);
}

.email-logout a:hover {
  transition: background-color 0.3s;
  background-color: rgb(	188, 0, 45);
}

.email-logout button {
  display: inline-block;
  height: 46px;
  margin: 6px 4px;
  padding: 0 1em;
  line-height: 42px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
}


.email-logout button:hover {
  cursor: pointer;
}
.email-logout p {
  color: black;
  margin-right: 8px;
  /* vertically align the text */
  display: flex;
  align-items: center;
  
}

.title-container {
  margin-left: 10px;
}

.titlelink {
  text-decoration: none;
  color: inherit;
}
h1.Title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
h2.Subtitle {
  font-size: 1rem;
  color: #666;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.navbar-container .language-switch-container {
  margin-right: 10px;
}

.navbar-container .language-switch-container select {
  padding: 8px;
  margin-left: 5px;
}