#dict {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    width: calc(100% - 2rem);
}

#dict div h1 {
    padding-top: 2rem;
}
article#dictionary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;    
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    height: calc(100dvh - 4rem - 108px);
}

article#dictionary section {
    border-bottom: 1px solid #000;
    margin: 0 8px 0 0;
    width: 20%;
    
}

article#dictionary section h2, article#dictionary section p {
    font-size: 2.5rem;
    margin: 1rem 0;
    display: inline;
    vertical-align: middle;
}

article#dictionary section h2 {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

article#dictionary section dt i {
    color: #333;
    font-size: .9rem;
}

article#dictionary section button.audio-btn {
    margin-bottom: 8px;
    background-color: #ebebeb;
    color: #333;
    border: none;
    padding: 8px;
}
article#dictionary section button.audio-btn:hover {
    background-color: #c9c9c9;
}