html {
    height: -webkit-fill-available;
}

body {
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

}
  
.Btn {
    width: 40%;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    border-width: 5px;
    border-color: black;
    font-size: large;
  }

  button {
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: rgb(	188, 0, 45);
    color: white;
  }

